@import 'src/styles/vars';

.config {
  &__props-constructor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  &__required-props {
    display: flex;
  }

  &__required-prop {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__prop-block {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.config-sauce-prop {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    cursor: pointer;
    font-size: 16px;
    line-height: (24/16);
    color: $mainGray;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 12px;
    border: 2px solid #E1E1ED;
    box-sizing: border-box;
    transition: .3s ease;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &[data-is-check="true"] {
      color: $mainDark;
      background: #fff;
      box-shadow: 0px 3px 4px rgba(75, 75, 124, 0.05), 0px 0px 2px rgba(75, 75, 124, 0.2);
      border-color: #00A896;
    }

    &:hover {
      color: $mainDark;
    }
  }
}

.config-main-prop {
  &__list {
    background: #F9F9FB;
    padding: 2px;
    display: flex;
    align-items: center;
    border-radius: 14px;
  }

  &__label {
    cursor: pointer;
    font-size: 16px;
    line-height: (24/16);
    color: $mainGray;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 12px;
    transition: .3s ease;

    &:not(:last-child) {
      margin-right: 2px;
    }

    &[data-is-check="true"] {
      color: $mainDark;
      background: #fff;
      box-shadow: 0px 3px 4px rgba(75, 75, 124, 0.05), 0px 0px 2px rgba(75, 75, 124, 0.2);
    }

    &:hover {
      color: $mainDark;
    }
  }
}

.config-additional-prop {
  &__list {
    display: flex;
  }

  &__img-wrapper {
    height: 70px;
    width: 100%;
    position: relative;
  }

  &__img {
    max-width: 80px;
    max-height: 80px;
    margin-top: -10px;
    margin-bottom: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  &__name {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    color: $mainDark;
  }

  &__label {
    padding: 0 12px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(75, 75, 124, 0.05);
    background: #fff;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    width: 115px;
    transition: .3s ease;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &[data-is-checked="true"] {
      border-color: $green;
    }
  }

  &__check-icon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(225, 225, 237, 1);
    border-width: 2px;
    transition: .3s ease;

    &[data-is-checked="true"] {
      background: $green;
      border-color: $green;
    }
  }

  &__price-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}